#menu-0 .navbar-toggler {
  color: #f4bfbb;
}
#menu-0 .nav-link {
  font-size: 18px;
}
#slider-u H2 {
  text-align: right;
  color: #000000;
}
#slider-u P {
  text-align: center;
}
#contacts1-w P {
  color: #f1c050;
}
#contacts1-w STRONG {
  color: #0275d8;
}
#contacts1-w UL {
  color: #f1c050;
}
#social-buttons2-p .mbr-section-title {
  color: #0275d8;
}
#menu-q .navbar-toggler {
  color: #f4bfbb;
}
#menu-q .nav-link {
  font-size: 18px;
}
#header2-z H1 {
  font-size: 100px;
}
#header2-z P {
  color: #000000;
}
#contacts1-w P {
  color: #f1c050;
}
#contacts1-w STRONG {
  color: #0275d8;
}
#contacts1-w UL {
  color: #f1c050;
}
#social-buttons2-1s .mbr-section-title {
  color: #0275d8;
}
#menu-12 .navbar-toggler {
  color: #f4bfbb;
}
#menu-12 .nav-link {
  font-size: 18px;
}
#content5-16 P {
  color: #ae9950;
}
#content5-16 .mbr-section-title {
  color: #363232;
  text-align: center;
}
#contacts1-w P {
  color: #f1c050;
}
#contacts1-w STRONG {
  color: #0275d8;
}
#contacts1-w UL {
  color: #f1c050;
}
#social-buttons2-1r .mbr-section-title {
  color: #0275d8;
}
#menu-14 .navbar-toggler {
  color: #f4bfbb;
}
#menu-14 .nav-link {
  font-size: 18px;
}
#features1-1e DIV {
  text-align: left;
}
#features1-1e H4 {
  text-align: right;
}
#contacts1-w P {
  color: #f1c050;
}
#contacts1-w STRONG {
  color: #0275d8;
}
#contacts1-w UL {
  color: #f1c050;
}
#social-buttons2-1g .mbr-section-title {
  color: #0275d8;
}
#menu-15 .navbar-toggler {
  color: #f4bfbb;
}
#menu-15 .nav-link {
  font-size: 18px;
}
#header1-1j H1 {
  color: #000000;
  text-align: center;
}
#contacts2-x P {
  font-size: 22px;
}
#social-buttons2-22 .mbr-section-title {
  color: #0275d8;
}
#menu-28 .navbar-toggler {
  color: #f4bfbb;
}
#menu-28 .nav-link {
  font-size: 18px;
}
#msg-box1-2b H2 {
  text-align: right;
}
#contacts1-29 P {
  color: #f1c050;
}
#contacts1-29 STRONG {
  color: #0275d8;
}
#contacts1-29 UL {
  color: #f1c050;
}
